@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .blur {
    inset: 0;
    background: radial-gradient(
      circle,
      #78b84eee 25%,
      rgba(212, 223, 240, 0.1) 70%,
      transparent 100%
    );
    top: 80px;
    left:-220px;
    width: 900px;
  

  }
  .flex-between {
    @apply flex justify-between items-center;
  }

}

@layer base {

  .h1{
    @apply text-[48px] xl:text-[80px] leading-[1.1] font-semibold;
  }
  .h2{
    @apply text-[36px] xl:text-[48px] leading-[1.1] font-semibold;
  }
  .h3{
    @apply text-[20px] xl:text-[24px] leading-[1.1] font-semibold;
  }
  
}



