@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

  .hide-scrollbar {
    /* Hide scrollbar for Webkit-based browsers (Chrome, Safari) */
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
  }
  
  .hide-scrollbar::-webkit-scrollbar {
    display: none; /* Webkit */
  }

  .blur {
    inset: 0;
    background: radial-gradient(
      circle,
      #78b84ec5 40%,
      rgba(212, 223, 240, 0.1) 100%,
      transparent 100%
    );
    top: 60px;
    left:10px;
    width: 100px;
    height: 100px;
  }



  @screen sm {
    .blur {
      width: 300px; /* Even smaller for small screens */
      top: 60px;
      left: -6px;
      height: 200px;
    }
  }
  
  @screen md {
    .blur {
      width: 250px; /* Smaller width for medium screens */
      top: 60px;
      left: 15px;
      height: 200px;
    }
  }
  
  @screen lg {
    .blur {
      width: 350px; /* Smaller width for medium screens */
      top: 60px;
      left: -20px;
      height: 200px;
    }
  }

  @screen xl {
    .blur {
      width: 410px; /* Smaller width for medium screens */
      top: 60px;
      left: 10px;
      height: 200px;
    }
  }


  .flex-between {
    @apply flex justify-between items-center;
  }

}

@layer base {

  .h1{
    @apply text-[45px] xl:text-[60px] leading-[1.1] font-semibold;
  }
  .h2{
    @apply text-[36px] xl:text-[48px] leading-[1.1] font-semibold;
  }
  .h3{
    @apply text-[20px] xl:text-[24px] leading-[1.1] font-semibold;
  }
  
}



